---
import { Image } from 'astro:assets'
import logo from '../assets/logo1.svg'
import hero from '../assets/diversos.png'
import { Icon } from 'astro-icon/components'
---

<nav class="grid items-center gap-4 sm:grid-cols-[auto_1fr]">
	<!-- Logo -->
	<div class="flex justify-center sm:justify-start">
		<Image
			src={logo}
			alt="Salgadinhos da Drica logo"
			format="avif"
			loading="eager"
			width={150}
			class="m-0 max-w-full"
		/>
	</div>

	<ul class="flex flex-col gap-6 text-center sm:flex-row">
		<li>
			<a
				class="font-bold text-white transition-colors duration-300 hover:text-amber-400 focus:text-amber-400"
				href="/"
				aria-current="page"
			>
				Página Inicial
			</a>
		</li>
		<li>
			<a
				class="font-bold text-white transition-colors duration-300 hover:text-amber-400 focus:text-amber-400"
				href="/about"
			>
				Sobre Nós
			</a>
		</li>
	</ul>
</nav>

<section class="grid grid-cols-1 items-center justify-between gap-4 sm:grid-cols-[1fr_auto]">
	<div class="space-y-4">
		<h1 class="text-4xl font-bold text-red-50">
			Bem-vindo(a) ao <span class="text-amber-400">Salgadinhos da Drica</span>!
		</h1>
		<p class="text-lg text-zinc-200">
			Prepare-se para se deliciar com nossos salgados irresistíveis, perfeitos para qualquer
			ocasião. Experimente nossos sabores variados, feitos com carinho para você e sua família.
		</p>
		<p class="text-lg text-zinc-200">Peça agora mesmo e leve mais sabor para sua mesa!</p>
		<a
			href="https://wa.me/5521965929920"
			target="_blank"
			rel="noopener noreferrer"
			class="inline-flex items-center gap-4 rounded-full bg-red-700 px-5 py-3 text-sm font-medium text-red-50 transition-all hover:bg-red-800 focus:outline-none focus:ring-4 focus:ring-red-300"
		>
			Faça seu Pedido no WhatsApp
			<Icon name="whatsapp" size={20} />
		</a>
	</div>

	<Image src={hero} alt="Imagem de Salgadinhos fritos" format="avif" loading="eager" width={400} />
</section>
