---

---

<h2 class="mb-4 text-center text-3xl font-bold text-red-600">
	Salgados Fritos e Congelados: Sabor e Praticidade para Você!
</h2>
<p class="mb-8 text-center text-lg text-zinc-700">
	Escolha entre deliciosos salgados fritos, prontos para saborear, ou congelados, ideais para
	preparar quando e onde quiser. Com uma variedade de sabores irresistíveis, nossos salgados são
	perfeitos para festas, encontros ou aquele momento especial em família.
</p>

<div class="grid gap-6 sm:grid-cols-2">
	<!-- Card Fritos -->
	<div class="rounded-lg border border-zinc-200 bg-white p-6 shadow-sm">
		<h3 class="mb-4 text-xl font-semibold text-red-600">Salgados Fritos</h3>
		<ul class="mb-4 list-disc pl-5 text-zinc-700">
			<li>Quibe</li>
			<li>Mini Pizza</li>
			<li>Coxinha</li>
			<li>Bolinha de Queijo</li>
			<li>Croquete de Calabresa</li>
			<li>Enroladinho de Salsicha</li>
		</ul>
		<p class="font-bold text-zinc-900">
			25 unidades: R$ 15,00 <br />
			50 unidades: R$ 25,00 <br />
			100 unidades: R$ 45,00
		</p>
	</div>

	<!-- Card Congelados -->
	<div class="rounded-lg border border-zinc-200 bg-white p-6 shadow-sm">
		<h3 class="mb-4 text-xl font-semibold text-amber-400">Salgados Congelados</h3>
		<ul class="mb-4 list-disc pl-5 text-zinc-700">
			<li>Quibe</li>
			<li>Mini Pizza</li>
			<li>Coxinha</li>
			<li>Bolinha de Queijo</li>
			<li>Croquete de Calabresa</li>
			<li>Enroladinho de Salsicha</li>
		</ul>
		<p class="font-bold text-zinc-900">
			25 unidades: R$ 10,00 <br />
			50 unidades: R$ 20,00 <br />
			100 unidades: R$ 40,00
		</p>
	</div>
</div>
